/**
 * Include this file early in your Sass project to
 * get access to Solarized colors and functions.
 *
 * Adapted from the outstanding work by Ethan Schoonover:
 * http://ethanschoonover.com/solarized
*/

// Solarized colors
$base03:                   #002b36;
$base02:                   #073642;
$base01:                   #586e75;
$base00:                   #657b83;
$base0:                    #839496;
$base1:                    #93a1a1;
$base2:                    #eee8d5;
$base3:                    #fdf6e3;
$yellow:                   #b58900;
$orange:                   #cb4b16;
$red:                      #dc322f;
$magenta:                  #d33682;
$violet:                   #6c71c4;
$blue:                     #268bd2;
$cyan:                     #2aa198;
$green:                    #859900;

// Syntax highlighting colors
$default:                  #FFFFFF;
$highlightbackground:      $base2;
$comment:                  $base01;
$error:                    $base01;
$generic:                  $base1;
$keyword:                  $green;
$literal:                  $base1;
$name:                     $base1;
$operator:                 $green;
$other:                    $orange;
$punctuation:              $base1;
$commentmultiline:         $base01;
$commentpreproc:           $green;
$commentsingle:            $base01;
$commentspecial:           $green;
$genericdeleted:           $cyan;
$genericemph:              $base1;
$genericerror:             $red;
$genericheading:           $orange;
$genericinserted:          $green;
$genericoutput:            $base1;
$genericprompt:            $base1;
$genericstrong:            $base1;
$genericsubheading:        $orange;
$generictraceback:         $base1;
$keywordconstant:          $orange;
$keyworddeclaration:       $blue;
$keywordnamespace:         $green;
$keywordpseudo:            $green;
$keywordreserved:          $blue;
$keywordtype:              $red;
$literaldate:              $base1;
$literalnumber:            $cyan;
$literalstring:            $cyan;
$nameattribute:            $base1;
$namebuiltin:              $yellow;
$nameclass:                $blue;
$nameconstant:             $orange;
$namedecorator:            $blue;
$nameentity:               $orange;
$nameexception:            $orange;
$namefunction:             $blue;
$namelabel:                $base1;
$namenamespace:            $base1;
$nameother:                #555555;
$nameproperty:             $base1;
$nametag:                  $blue;
$namevariable:             $blue;
$operatorword:             $green;
$textwhitespace:           $base1;
$literalnumberfloat:       $cyan;
$literalnumberhex:         $cyan;
$literalnumberinteger:     $cyan;
$literalnumberoct:         $cyan;
$literalstringbacktick:    $base01;
$literalstringchar:        $cyan;
$literalstringdoc:         $base1;
$literalstringdouble:      $cyan;
$literalstringescape:      $orange;
$literalstringheredoc:     $base1;
$literalstringinterpol:    $cyan;
$literalstringother:       $cyan;
$literalstringregex:       $red;
$literalstringsingle:      $cyan;
$literalstringsymbol:      $cyan;
$namebuiltinpseudo:        $blue;
$namevariableclass:        $blue;
$namevariableglobal:       $blue;
$namevariableinstance:     $blue;
$literalnumberintegerlong: $cyan;

// Layout colors
$text-color:               $base0;
$background-color:         $base03;
$brand-color:              $red;
$grey-color:               $base01;
$grey-color-light:         lighten($grey-color, 40%);
$grey-color-dark:          darken($grey-color, 25%);

@mixin rebase($rebase03, $rebase02, $rebase01, $rebase00, $rebase0, $rebase1, $rebase2, $rebase3) {

  // Syntax highlighting colors
  $highlightbackground:    $rebase02;
  $comment:                $rebase1;
  $error:                  $rebase1;
  $generic:                $rebase01;
  $literal:                $rebase01;
  $name:                   $rebase01;
  $punctuation:            $rebase01;
  $commentmultiline:       $rebase1;
  $commentsingle:          $rebase1;
  $genericemph:            $rebase01;
  $genericoutput:          $rebase01;
  $genericprompt:          $rebase01;
  $genericstrong:          $rebase01;
  $generictraceback:       $rebase01;
  $literaldate:            $rebase01;
  $nameattribute:          $rebase01;
  $namelabel:              $rebase01;
  $namenamespace:          $rebase01;
  $nameproperty:           $rebase01;
  $textwhitespace:         $rebase01;
  $literalstringbacktick:  $rebase1;
  $literalstringdoc:       $rebase01;
  $literalstringheredoc:   $rebase01;

  // Layout colors
  $text-color:             $rebase0;
  $background-color:       $rebase03;
  $brand-color:            $rebase2;
  $grey-color:             $rebase1;
  $grey-color-light:       lighten($grey-color, 40%);
  $grey-color-dark:        darken($grey-color, 25%);

  background-color: $background-color;
  color: $text-color;

  h1,h2,h3,h4,h5,h6 {
    color: $rebase1;
    border-color: $rebase0;
  }

/*
 *  // light
 *  a, a:visited, a:active {
 *    color: #2aa198;
 *    border-color: #eee8d5;
 *  }
 *
 *  a:hover {
 *    background-color: #eee8d5;
 *    border-color: #eee8d5;
 *    color: #2aa198;
 *  }
 *
 *  // dark
 *  a, a:visited, a:active {
 *    color: #2aa198;
 *    border-color: #073642;
 *  }
 *
 *  a:hover {
 *    background-color: #073642;
 *    border-color: #073642;
 *    color: #2aa198;
 *  }
 *
 *  a, a:active, a:visited {
 *    color: $rebase1;
 *  }
 */

  a {
    color: $yellow;
    border: none;

    &:visited, &:active {
      color: $yellow;
    }

    &:hover {
      background-color: $rebase02;
      border-color: $rebase2;
    }
  }

  .highlight {
    pre,
    code {
      border: 1px solid $rebase01;
      color: $rebase1;
      background-color: $highlightbackground;
    }

    pre {
      > code {
        border: 0;
      }
    }

    .highlighter-rouge & {
      background: lighten($rebase1, 25%);
    }
  }

  html.yellow, .yellow {
    @include accentize($yellow);
  }

  html.orange, .orange {
    @include accentize($orange);
  }

  html.red, .red {
    @include accentize($red);
  }

  html.magenta, .magenta {
    @include accentize($magenta);
  }

  html.violet, .violet {
    @include accentize($violet);
  }

  html.blue, .blue {
    @include accentize($blue);
  }

  html.cyan, .cyan {
    @include accentize($cyan);
  }

  html.green, .green {
    @include accentize($green);
  }
}

@mixin accentize($accent) {
  a, a:active, a:visited, code.url {
    color: $accent;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $accent
  }
}

/* light is default mode, so pair with general html definition */
html, .solarized-light {
  @include rebase($base3, $base2, $base1, $base0, $base00, $base01, $base02, $base03)
}

.solarized-dark {
  @include rebase($base03, $base02, $base01, $base00, $base0, $base1, $base2, $base3)
}

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
