<!DOCTYPE html>
<html>

  {% include head.html %}

  <!--<body class="solarized-dark">-->
  <body class="solarized-light">

    {% include header.html %}

    <div class="page-content clear">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.mobilemenu.min.js"></script>

    <script>
      $(document).ready(function(){
        $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
      });
    </script>

  </body>

</html>
